* {
    font-family: monospace, sans-serif;
    font-size: 16px;
    line-height: 1.4em;
    padding: 0;
    margin: 0;
    border: none;
}

/* Structure ___________________________________________________________________*/

body {
  background-color: #FBFBFB;
}

.wrapper{
    max-width: 625px;
    width: 90%;
    padding: 50px 5%;
    margin: 0 auto;
}

/* Elements ____________________________________________________________________*/

header, footer, section, h1, h2 {
  margin-bottom: 1em;
  color: #414141;
}

h1 {
  font-size: 22px;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 18px;
  margin-bottom: 0.4em;
}

header:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

section ul {
  margin-left: 20px;
}

/* Footer ______________________________________________________________________*/

footer {
  border-top: 1px #ccc solid;
  padding-top: 10px;
  margin-top: 20px;
}

footer p {
  font-size: 0.8em;
  color: #aaa;
}

footer p a {
  font-size: 1em;
  color: #aaa;
}

/* Map section _________________________________________________________________*/

#map iframe{
  width:100% !important;
}
p#map-legend a {
  font-size: 0.8em;
}
